# Ignore node_modules folder
node_modules/

# Ignore environment files
.env
# Ignore all .json files
*.json

# Ignore all .pkl files
*.pkl
# Ignore log files
*.log
__pycache__/
# Ignore build folders
dist/
build/
venv/
# Ignore system files
.DS_Store
Thumbs.db